<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.filter.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFilmServlet</servlet-name>
  	<display-name>DeleteFilmServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FilmServlet</servlet-name>
  	<display-name>FilmServlet</display-name>
  	<servlet-class>com.servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewFilmServlet</servlet-name>
  	<display-name>NewFilmServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.NewFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>DeleteFilmServlet</servlet-name>
  	<url-pattern>/DeleteFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FilmServlet</servlet-name>
  	<url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewFilmServlet</servlet-name>
  	<url-pattern>/NewFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>
